.filter-button {
    // background-image: url(IMAGE/miniature.jpeg);
    background-repeat: no-repeat;
    background-position: 140px;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    width: 182px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 9px;
    text-align: center;
}

.filtering-form {
    top: calc(100% + 14px);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 65px;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px 40px 48px;

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
        height: 468px;
        min-width: 446px;
        align-content: start;
        margin-bottom: 36px;

    }

    &__frame {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        width: 541.5px;
        box-shadow: 0px 4px 67px -12px #00000052;
        align-items: flex-end;
        align-content: space-around;
        justify-content: space-between;
        position: absolute;
        right: 0;
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
        max-width: 190px;
        gap: 14px;
    }

    &__button {
        width: 190px;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
        border: 1px 1px 1px 1px;
        background: none;
        opacity: 0px;
        border: 1px solid #040404;
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat;
    }

    &__legend {
        Size: 16px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;
        margin-bottom: 14px;
    }
}

.filtering-form-margin {
    margin: 40px 48px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter-button-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.button-apply {
    align-self: right;
    display: flex;
    justify-content: end;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
    }

    &__label::before {
        content: "";
        width: 14px;
        height: 14px;
        border: 1px solid #888888;
        border-radius: 50px;
        position: absolute;
        left: 0;
        background-color: #fff;
    }

    &__input::-webkit-slider-thumb:active {
        cursor: grabbing;
    }
}

.radio__input:checked+.radio__label::before {
    border-color: #000000;
    background-image: url(img/vector.svg);

    background-repeat: no-repeat;
    background-position: center;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__input {
        width: 190px;
        height: 10px;
        overflow: hidden;
        outline: none;
    }

    &__slider {
        font-family: sans-serif;
        font-size: 14px;
        position: relative;
        height: 20px;
        width: 210px;
        display: inline-block;
        margin-top: -5px;
    }

    &__slider input {
        position: absolute;
    }

}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

.range__input::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #000000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

.range__input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    background: #000000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
}


.color-options {
    display: flex;
    flex-wrap: wrap;
    min-width: 190px;
    gap: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        font-size: 14px;
    }

    &__color-options {
        width: 15px;
        height: 15px;
    }

    &__label::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #888888;
        position: absolute;
        left: 0;
        background-color: #fff;
    }
}

.checkbox__input:checked+.checkbox__label::before {
    background-image: url(img/vector.svg);
    border-color: #000;
    background-repeat: no-repeat;
    background-position: center;

}

.checkbox::before {
    background-color: #fff;
    border-color: #808080;
}

.checkbox__label-black::before {
    background-color: #000;
    border-color: #000;
}

.checkbox__label-gray::before {
    background-color: #737373;
    border-color: #737373;
}

.checkbox__label-red::before {
    background-color: #FF0000;
    border-color: #FF0000;
}

.checkbox_label-orange::before {
    background-color: #FF7A41;
    border-color: #FF7A41;
}

.checkbox__label-yellow::before {
    background-color: #F2CB01;
    border-color: #F2CB01;
}

.checkbox__label-green::before {
    background-color: #00BF2A;
    border-color: #00BF2A;
}

.checkbox__label-teal::before {
    background-color: #1CCC97;
    border-color: #1CCC97;
}

.checkbox__label-blue::before {
    background-color: #009FE3;
    border-color: #009FE3;
}

.checkbox__label-darkblue::before {
    background-color: #000AF8;
    border-color: #000AF8;
}

.checkbox__label-darkpurple::before {
    background-color: #6710D6;
    border-color: #6710D6;
}

.checkbox__label-purple::before {
    background-color: #9D0DB5;
    border-color: #9D0DB5;
}

.checkbox__label-lavender::before {
    background-color: #D89AFF;
    border-color: #D89AFF;
}

.checkbox__label-pink::before {
    background-color: #FF65A6;
    border-color: #FF65A6;
}

.checkbox__input:checked+.checkbox__label-black::before,
.checkbox__input:checked+.checkbox__label-blue::before,
.checkbox__input:checked+.checkbox__label-purple::before {
    background-image: url(img/vector.svg);

}

.details[open] {
    display: flex;
    justify-content: flex-end
}

.filt {
    padding-top: 70px;
    width: 419px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.form__buttons {
    display: flex;
    gap: 10px;
}


.select {
    background-image: url(IMAGE/miniature.jpeg);
    background-repeat: no-repeat;
    background-position: 180px;
    appearance: none;
    box-sizing: border-box;
    border-radius: 20px;
    width: 227px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    border: 1px 1px 1px 1px;
    border-color: #C4C4C4;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    padding-left: 23px;
}

/*# sourceMappingURL=style.css.map */