@media (max-width: 767px) {

    * {
        margin: 0;
        padding: 0;
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 57px;
        border-bottom: none;

        &__input {
            display: none;
        }
    }

    .top {
        background-position: center;
        padding-top: 32px;
        height: 703px;

        &__catalog {
            height: 368px;
            padding: 16px;

        }

        &__basket {
            background-position: center;
            padding-top: 32px;

            height: 400px;
        }
    }

    .navigation {
        display: none;

        &__mobil {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        &__link {
            display: none;
        }
    }

    .cart {
        display: flex;
        flex-direction: column;

        &__content {
            width: auto;
        }

        &__info {
           width: 253px;
        }

        &__name-box {
            display: none;
        }

        &__left {
            width: 253px;
                }
        &__item {
            width: auto;
        }

        &__form {
            max-width: 376px;
            width: auto;
        }
    }

    .logo {
        &__img {
            width: 99px;
        }

    }

    .title {
        font-size: 48px;
        font-weight: 600;
        line-height: 58.51px;
        text-align: center;
        width: auto;
        height: 177px;
        top: 118px;
        left: 16px;

        &__catalog {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 600;
            line-height: 59px;
            text-align: center;
            margin-top: 82px;
        }

        &__basket {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 600;
            line-height: 58.51px;
            text-align: center;
        }
    }

    .tagline {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }

    .catalog {
        font-size: 14px;
        font-weight: 400;
        height: auto;
        display: flex;
        justify-content: center;

        &__main {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            margin-top: 32px;
            margin-bottom: 32px;
        }

        &__info {
            height: auto;
            gap: 14px;
            padding-top: 32px;
        }

        &__nav {
            align-items: center;
            height: 32px;
        }
    }

    .heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 29.26px;
        text-align: left;
        width: auto;
        width: 100%;
    }

    .for {
        grid-template-columns: repeat(4, 1 fr);
        gap: 16px;

        &__item {
            grid-column: 1 / -1;
            width: auto;
            font-size: 28px;
            font-weight: 600;
            line-height: 34.13px;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
        }

        &_big {
            height: 244px;
            width: auto;
        }
    }

    .product {
        width: auto;

        &__name {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.94px;
        }

        &__price {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.94px;
        }

        &__overview {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.63px;
        }
    }

    .product-content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .form__buttons {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer {

        padding-bottom: 32px;

        &__content {
            justify-content: center;
            gap: 34px;
        }

        &__info {
            gap: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__logo {
            display: none;
        }

        &__form {
            margin: auto;
        }
    }

    .img__basket {
        display: none;
    }

    .filtering-form__frame {
        width: auto;
        right: auto;
    }

    .filtering-form__content-wrapper {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        min-width: 190.5px;
    }

    .button-apply {
        display: flex;
        flex-direction: column;
    }

    .button {
        &__box {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.63px;
            text-align: center;
            max-width: 163px;
        }
            &__box-catalog {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.63px;
                text-align: center;
                width: 163px;
                height: 37px;
                padding: 11px 0px 11px 6px;
                gap: 10px;
                border-radius: 50px;
            }

    }

    .heading {
        width: 100%;
    }
}

// @media (max-width: 1440px) {

//     .footer__logo {
//         display: none;
//     }

//     .footer__content {
//         width: 100%;
//         display: flex;
//         justify-content: center;
//     }

//     .cart {
//         padding: 16px;
//     }
// }